@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
}

#app {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  border: 1px solid;
  border-color: #220cc2;
  background-color: rgb(103, 101, 222);
  color: rgb(255, 255, 255);
  margin-top: 60px;
  height: 80px;
}

.ctn__board {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 100px;
  margin-top: 5px;
}

.pair__container {
  margin: 0 100px;
  display: flex;
  flex-wrap: wrap;
}

.pair {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border: 0.25px solid rgb(189, 186, 186);
  margin: 24px;
  padding: 24px;
  display: flex;
  justify-content: space-between;

}

.student {
  border: 1px solid #7676bc;
  color: #343454;
  font-weight: bold;
  border-radius: 8px;
  padding: 48px;
  margin: 2px;
  height: 122;
  font-size: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
}

.even:hover {
  background-color: rgb(131, 145, 248);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.flip-list-move {
  transition: transform 0.5s;
}



.shuffleBtn:hover {
  cursor: pointer;
  transform: rotate(90deg);
  transition: 0.2s;
  animation-duration: 1s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(90deg);
    transition: 0.01s;
  }

  100% {
    transform: rotate(360deg);
    transition: 0.01s;
  }
}

.even {
  margin-right: 24px;
}

.even i {
  display: none;
  align-items: center;
  justify-content: center;
}

.even:hover i {
  display: flex;
  min-width: 58px;
  min-height: 38px;
}

.even:hover div {
  display: none;
}

.even div {
  display: block;
}
.ctn--save,
.ctn--capture {
  height: 33.33px;
  width: 74px;
  margin-right: 12px;
}

.h4 {
  background-color: gray;
}

